body {
    margin: 0;
    position: relative;
    height: 100vh;
    font-family: 'Work Sans';
}

a {
    text-decoration: none;
    color: #eca895;
}

.container {
    border: 1px solid #97b6c8;
    border-radius: 10px;
    padding: 1em;
    margin: auto;
    max-width: 450px;
    /* height: 50%;
    position: absolute; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav h2 {
    border: 1px solid #eca895;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
}

nav h2 a {
    display: block;
    padding: 5px 15px;
    transition: all ease-in 300ms;
}

nav h2 a.active {
    background-color: #eca895;
    color: #fff;
}

nav a:hover, nav a:focus {
    background-color: #eca895c5;
    color: #fff;
}

section {
    display: none;
}

section.showing {
    display: block;
}

fieldset {
    border: none;
    margin:  1em auto;
}

fieldset span {
    color: #eca895;
}

label, .label {
    display: block;
    color: #97b6c8;
    margin-bottom: 10px;
}

input {
    font-size: 21px;
    color: #eca895;
    border: 0;
    border-bottom: 1px solid #97b6c8;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#split {
    display: flex;
}

#split #split-count {
    font-weight: bold;
    margin: 0 15px;
    align-self: center;
}

.calculate-total {
    background-color: #eca895;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}

.calculate-total h3 {
    margin: auto;
    font-weight: normal;
    color: whitesmoke;
}

.calculate-total .value {
    font-weight: bold;
    margin: 10px 0 15px;
}

#grand-total {
    font-size: 26px;
    margin-top: 10px;
}

.breakdown {
    display: flex;
    justify-content: center;
}

.breakdown .item {
    margin: 0 15px;
}